<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Response Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">University Course Response Form</h2>
        <form action="/univ/courses" method="POST" class="mt-4">
            <div class="form-group">
                <label for="courseID">Course ID </label>
                <input style="text-transform: uppercase;" type="text" id="courseID" name="courseID" class="form-control" required minlength="7" maxlength="7">
            </div>

            <div class="form-group">
                <label for="courseName">Course Name</label>
                <input style="text-transform: capitalize;" type="text" id="courseName" name="courseName" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
