<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
   body {
            background-color: #f8f9fa;
            font-family: 'Roboto', sans-serif;
        }
    
    .centerCard{  



        max-width:400px;
        margin: 50px auto;
        background-color:rgb(255, 255, 255);
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
<body>
    <div class="container mt-5" id="outerArea">
        <div class="centerCard">
        <h2>Forgot Password</h2>
        <form method="POST" action="/forgot">
            <div class="form-group">
              <label for="User ID">User ID</label>
              <input style="text-transform:uppercase;" type="text" class="form-control" id="id" name="userID" aria-describedby="emailHelp" placeholder="Enter User ID" required minlength="6" maxlength="6">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  
        <small class="text-muted">
            Remembered your password? <a href="/login" class="text-primary">Login here</a>
        </small>
    </div>
   
</div>
    
</body>
</html>
